extends layout

block content
  h1= title
  p Here you will see a list of resources
  ul
    for project in projects
      li=project.name
        form( method="post", action="/resources/delete")
          input(name="projectid", type="hidden", value=project._id)
          input(id="delete", value="X", class="btn-danger", type="submit")
  p Insert a 
    a(href='projects/new') New project