extends layout

block content
  h1= title
  p Here you will see a list of resources
  ul
    for resource in resources
      li=resource.name
        form( method="post", action="/resources/delete")
          input(name="resourceid", type="hidden", value=resource._id)
          input(id="delete", value="X", class="btn-danger", type="submit")
  p Insert a 
    a(href='resources/new') new resource